extends app.pug
block titulo    
    title Cliente ${cliente.nome}

block conteudo
    .card
        h5.card-header Detalhes do Cliente #{cliente.nome}
        .card-body
            p 
                strong ID:
                | #{cliente.id}
            p
                strong Name:
                | #{cliente.nome}
            p
                strong E-Mail: 
                | #{cliente.email}
            p
                strong Data de Criação: 
                | #{cliente.createdAt}
            p
                strong Data de Atualização:
                | #{cliente.updatedAt}
            a(href="/clients/").btn.btn-success Voltar